# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.RData
Montes_and_Reyla__2015_Presentation.Rmd
Montes_and_Reyla__2015_Presentation.Rmd
